# Database (Hostinger MySQL - shared with SSO)
DB_HOST=localhost
DB_PORT=3306
DB_USER=u253037503_sso_user
DB_PASSWORD=
DB_NAME=u253037503_sso_db

# JWT (harus sama dengan SSO)
JWT_SECRET=

# SSO
SSO_URL=https://sso.digtri.com
NEXT_PUBLIC_SSO_URL=https://sso.digtri.com
